.n-wrapper {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  top: 0;
  position: fixed;
  background:#fff;
  width:100%;
  z-index: 20;
}
.n-left {
  flex: 1;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 2rem;
}

.n-name {
  font-size: 1.3rem;
  font-weight: bold;
}
.n-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: 400;
  padding-right: 1%;
}

.n-list {
  flex: 10;
}
.n-list > ul {
  display: flex;
  gap: 2rem;
  margin-right: 4rem;
}

.n-list > ul :hover {
  color: var(--orange);
  cursor: pointer;
}

.n-button {
  flex: 2;
}

@media screen and (max-width: 1023px) {
  .n-list {
    display: none;
  }
  .hide_phone{
    display: none;
  }
  .n-wrapper{
    height: 0vh;
    padding-top: 20px;
  }
}

@media(max-width:480px){
  .n-wrapper{
    position:relative;
    top:12px;
    z-index: 0;
  }
}